/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  padding-top: 70px;
}

body.welcome {
  background-image: url("http://i.imgur.com/MHPwaRN.jpg");
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #404040;
  font-weight: bold;
  font-size: 60px;
  font-stretch: expanded;
}

h1.posts {

}

body.posts {
  background-image: url("http://i.imgur.com/iVDNjvP.jpg");
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

.posted_image {
  max-height: 400px;
}

.author {
  font-style: italic;
}

#addCommentForm {
  display: none;
}

.jumbotron.post {
  // background-color: steelblue,
}
